/* ---------------------- Base CSS ---------------------------- */
/* Author: Manibharathi                                         */
/* GitHub: https://github.com/mani-barathi/reference/css        */
/* ------------------------------------------------------------ */

/* Imports Goes here -------------------------------------------*/

/* CSS Variabes ------------------------------------------------*/
:root {
  /* Colors goes here ------------------------- */
  --primary-color: rgb(0, 128, 128);
  --secondary-color: #808b96dc;
  --red-color: rgb(220, 20, 60);
  --green-color: #28b463;
  --white-color: #f5f5f5;
  --black-color: #212a35;
  --light-grey-color: #ebedef;
  --dark-grey-color: #454546;

  /* Font goes here --------------------------- */
  --font-primary: Roboto, "Segoe UI", Oxygen, Ubuntu, sans-serif;
  --font-secondary: Roboto, "Segoe UI", Oxygen, Ubuntu, sans-serif;
  --font-monospace: "Fira Code", "Courier New", courier, monospace;

  /* Other variables goes here ---------------- */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--white-color);
  font-family: var(--font-primary);
  color: var(--black-color);
  font-size: 1rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  transition: all 0.2s ease;
  color: var(--primary-color);
  font-weight: 500;
}

a,
label,
input,
textarea,
button {
  font-family: var(--font-primary);
}

button {
  cursor: pointer;
}

input,
textarea {
  outline: none;
}
textarea {
  resize: vertical;
}
/* Text elements ------------------------------ */
p,
span,
strong {
  font-size: 1.05rem;
  font-weight: 400;
}

strong {
  font-weight: 700;
}
h1 {
  font-size: 2.7rem;
  font-weight: 500;
}

h2 {
  font-size: 2.3rem;
  font-weight: 500;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
}

h4 {
  font-size: 1.6rem;
  font-weight: 500;
}

h5 {
  font-size: 1.3rem;
  font-weight: 500;
}

h6 {
  font-size: 1.1rem;
  font-weight: 500;
}

@media screen and (max-width: 750px) {
  h1 {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 2.1rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.9rem;
  }

  h3 {
    font-size: 1.7rem;
  }
}

/* Util classes ------------------------------------------------*/
.container {
  padding: 0 1rem;
  margin: 0 auto;
  width: 100%;
}

.w-100 {
  width: 100%;
}

/* padding -------------- */
.p {
  padding: 1rem;
}
.pt {
  padding-top: 1rem;
}
.pr {
  padding-right: 1rem;
}
.pl {
  padding-left: 1rem;
}
.pb {
  padding-bottom: 1rem;
}

/* margin --------------- */
.m {
  margin: 1rem;
}
.mt {
  margin-top: 1rem;
}
.mr {
  margin-right: 1rem;
}
.ml {
  margin-left: 1rem;
}
.mb {
  margin-bottom: 1rem;
}
